{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="login-vertical">
  <h1>Login</h1>
  {% if messages %}
    {% for message in messages %}
      <div class="logout-message">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form method="post" class="login-form-vertical">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
      <label>
        {% if field.name == 'username' %}Username{% elif field.name == 'password' %}Password{% else %}{{ field.label }}{% endif %}
        {{ field }}
        {% for error in field.errors %}
          <div style="color:red">{{ error }}</div>
        {% endfor %}
      </label>
    {% endfor %}
  <button type="submit">Login</button>
  </form>
</div>
{% endblock %}

